header{
    width: 100%;
    min-height: 95vh;
    background-image: url("/assets/img/section-1/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header-title{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    color: #ffffff;
    font-size: $mainFontSize/1.3;
    align-items: center;
    p{
        font-family: $Raleway;
        span{
            color: #ff3a2d;
        }
    }
    .header-search-block{
        display: flex;
        input{
            width: 170px;
            height: 30px;
            background-color: #bebdbb;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 15px;
            font-family: $Source-Semibold;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            color: #ffffff;
            background-color: #ff3a2d;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 0.8rem;
        }
    }
    .login{
        font-family: $Poppins-Regular;
        svg{
            margin-right: 10px;
            cursor: pointer;
        }
        span{
            &:nth-child(2){
                margin-right: 40px;
                cursor: pointer;
            }
        }
    }
}

.fullscreen-menu{
    margin-top: 25px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    svg{
        position: relative;
        bottom: 53px;
        right: 20px;
    }
    .menu-list{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-family: $Source-bold;
        font-size: $mainFontSize/1.2;
        li{
            cursor: pointer;
            .shopping-cart{
                font-size: $mainFontSize;
                span{
                    display: inline-block;
                    position: relative;
                    bottom: 10px;
                    right: 10px;
                    font-size: $mainFontSize/2;
                    width: 12px;
                    height: 12px;
                    background-color: red;
                    border-radius: 50%;
                    text-align: center;
                    color: #ffffff;
                }

            }
            button{
                width: 120px;
                height: 30px;
                background-color: #ff3a2d;
                cursor: pointer;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
                color: white;
                text-transform: uppercase;
                font-family: $Source-bold;
            }
            &:hover{
                color: #00c5d2;
            }
        }
        
    }
}
.hide-navigation{
    display: none;
}
.hide-list{
    display: none;
}
.header-main{
    margin-top: 220px;
    text-align: center;
    color: white;
    h2{
        font-family: $Sacramento;
        font-size: $mainFontSize*2;
        color: #07b0b8;
    }
    h1{
        font-size: $mainFontSize*2.6;
        font-family: $LobsterBold;
    }
    p{
        margin-top: 20px;
        font-family: $Poppins-Medium;
        font-size: $mainFontSize/1.1;
        line-height: 1.8;
    }
    .btn-group{
        button{
            width: 150px;
            height: 50px;
            margin: 55px 20px;
            color: #ffffff;
            text-transform: uppercase;
            font-family: $Poppins-SemiBold;
            border-radius: 5px;
            cursor: pointer;
            &:first-child{
                background-color: transparent;
                border: 3px solid #ff3a2d;
            }
            &:last-child{
                background-color: #ff3a2d;
            }
        }
    }
}

//hamburger 
.ham{
    display: none;
    z-index: 100;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.hamRotate.active {
    transform: rotate(45deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.line-white{
    stroke: #ffffff;
}
.ham8 .top {
    stroke-dasharray: 40 160;
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  .ham8.active .middle {
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }

@media screen and (max-width: 990px){
    .fullscreen-menu{
        .menu-list{
            justify-content: space-around;
            li{
                margin-right: 10px;
                .shopping-cart{
                    display: flex;
                    span{
                        display: block;
                        position: relative;
                        bottom: 4px;
                        right: 6px;
                    }
                }
            }
        }
    }
    .header-title{
        .login{
            margin-left: 20px;
            display: flex;
            justify-content: space-between;
            font-family: $Poppins-Regular;
            .iconify{
                margin-top: 10px;
            }
            span{
                &:nth-child(2){
                    margin-top: 8px;
                    margin-right: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 780px){
    .ham{
        margin-top: 15px;
        display: block;
        position: absolute;
        right: 50px;
    }
    .close-block{
        display: none;
    }
    .fullscreen-menu{
        display: flex;
        margin-top: 25px;
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        svg{
            position: relative;
            bottom: 20px;
            right: 0;
        }
        li{
            display: none;
        }
    }
    .hide-navigation{
        display: block;
        position: fixed;
        width: $width*1px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        z-index: 99999;
        transition-delay: $duration*1ms;
        @if ($position == right) {
          right: 0;
        } @else if ($position == left) {
          left: 0;
        }
        
        &.active {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
          .hide-list{
            background-color: $backgroundColor;
            transform: translate(0, 0);
            transition: transform $duration*1ms linear, background-color 0s linear ($duration*2-1)*1ms;
            &:after {
              width: 300%;
              border-radius: 50%;
              animation: elastic ($duration/2)*1ms ease ($duration+0.5)*1ms both;
            }
          }
        }
      }
      .hide-list{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 999999;
        @if ($position == right) {
          transform: translate(100%, 0);
        } @else if ($position == left) {
          transform: translate(-100%, 0);
        }
        .close-hide-menu{
            width: 40%;
        }
        li{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 5px 0;
            font-family: $Source-bold;
            font-size: $mainFontSize*2;
            text-transform: uppercase;
            color: #ffffff;
            &:hover{
                color: #ff3a2d;
                background-color: #ffffff;
            }
            button{
                background-color: transparent;
                border: 3px solid #ffffff;
                cursor: pointer;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                color: white;
                text-transform: uppercase;
                font-family: $Source-bold;
                &:hover{
                    border-color: #ff3a2d;
                    color: #ff3a2d;
                }
            }
        }
        transition: transform $duration*1ms linear, background-color 0s linear $duration*1ms;
        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          top: 0;
          @if ($position == right) {
            left: 0;
          } @else if ($position == left) {
            right: 0;
          }
          background-color: $backgroundColor;
          border-radius: 50%;
          z-index: -1;
          transition: all $duration*1ms linear;
          
        }
      }
    .header-title{
        .login{
            display: none;
        }
    }
}
@media screen and (max-width: 576px){
    .ham{
        margin-top: 15px;
        right: 0px;
    }
    .hide-navigation{
        width: 100%;
        li{
            font-size: $mainFontSize*1.5;
        }
    }
    .header-main{
        .btn-group{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            button{
                width: 200px;
                height: 50px;
                margin: 0px 0px;
                color: #ffffff;
                text-transform: uppercase;
                font-family: $Poppins-SemiBold;
                border-radius: 5px;
                cursor: pointer;
                &:first-child{
                    margin-top: 0px;
                    margin-bottom: 20px;
                    margin-right: 0px;
                    background-color: transparent;
                    border: 3px solid #ff3a2d;
                }
                &:last-child{
                    background-color: #ff3a2d;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 414px){
    .header-main{
        margin-top: 50px;
        h2{
            font-size: $mainFontSize*1.5;
        }
        h1{
            font-size: $mainFontSize*2;
        }
        p{
            font-size: $mainFontSize/1.3;
        }
    }
}
@media screen and (max-width: 375px){
    .header-main{
        margin-top: 50px;
        h2{
            font-size: $mainFontSize*1.3;
        }
        h1{
            font-size: $mainFontSize*2;
        }
        p{
            font-size: $mainFontSize/1.5;
        }
    }
    .hide-navigation{
        width: 100%;
        li{
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 320px){
    .header-title{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-main{
        h2{
            font-size: $mainFontSize*1.3;
        }
        h1{
            font-size: $mainFontSize*1.5;
        }
        p{
            font-size: $mainFontSize/1.4;
        }
    }
    .hide-navigation{
        width: 100%;
        li{
            margin-top: 10px;
            font-size: $mainFontSize*1.4;
        }
    }
}


//animation

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1
    }
}

@keyframes elastic {
    0% {
        border-radius: 50%;
    }
    45% {
        border-radius: 0;
    }
    65% {
        @if ($position == right) {
          border-top-left-radius: 40px 50%;
          border-bottom-left-radius: 40px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 40px 50%;
          border-bottom-right-radius: 40px 50%;
        }
    }
    80% {
        border-radius: 0;
    }
    90% {
        @if ($position == right) {
          border-top-left-radius: 20px 50%;
          border-bottom-left-radius: 20px 50%;
        } @else if ($position == left) {
          border-top-right-radius: 20px 50%;
          border-bottom-right-radius: 20px 50%;
        }
    }
    100% {
        border-radius: 0;
    }
}