.contact-title{
    margin-top: 190px;
    margin-bottom: 80px;
    text-align: center;
    font-family: $LobsterRegular;
    font-size: $mainFontSize*2;
    line-height: 1;
}
.google-map{
    border:0;
    width: 100%;
    height: 800px;
}
.contact-form{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.open-hours{
    width: 370px;
    h2{
        font-family: $LobsterRegular;
        font-size: $mainFontSize*2;
        line-height: 1;
    }
    img{
        margin-bottom: 60px;
    }
}
.hours-item{
    display: flex;
    text-transform: uppercase;
    font-family: $Poppins-SemiBold;
    margin-bottom: 40px;
    font-size: $mainFontSize*1.2;
    span{
        color: #808080;
        margin-left: 20px;
    }
}
.form{
    width: 600px;
    display: flex;
    flex-direction: column;
    h2{
        font-family: $LobsterRegular;
        font-size: $mainFontSize*2;
        margin-bottom: 50px;
    }
    form{
        display: flex;
        flex-direction: column;
        font-family: $Poppins-Regular;
        input{
            height: 50px;
            margin-bottom: 40px;
            border: 1px solid #a6a6a6;
            padding-left: 30px;
        }
        textarea{
            margin-bottom: 40px;
            border: 1px solid #a6a6a6;
            padding-top: 15px;
            padding-left: 30px;
        }
        button{
            width: 125px;
            height: 50px;
            background-color: #ff756c;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

@media screen and(max-width: 991px){
    .open-hours{
        margin-right: 50px;
    }
    .hours-list{
        width: 100%;
    }
    .hours-item{
        font-size: $mainFontSize/1.2;
    }
    .form{
        form{
            width: 90%;
            margin: auto;
            textarea{
                height: 240px;
            }
        }
    }
}

@media screen and(max-width: 767px){
    .contact-form{
        flex-direction: column;
    }
    .open-hours{
        width: 100%;
        margin-right: 0px;
    }
    .hours-item{
        font-size: $mainFontSize;
    }
    .google-map{
        height: 600px;
    }
    .form{
        width: 100%;
        form{
            width: 100%;
            margin: auto;
            textarea{
                height: 240px;
            }
        }
    }
}
@media screen and(max-width: 580px){
}
@media screen and(max-width: 414px){
    .google-map{
        height: 400px;
    }
}